---
---

@import "{{ site.theme }}";

#forkme_banner2 {
  display: block;
  position: absolute;
  top:0;
  right: 20px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('https://annieholtz.github.io/images/twitter-logo-white-png.png') #0090ff no-repeat;
  background-size: contain;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap2 {
  background: #004080;
  background: -moz-linear-gradient(top, #373737, #004080);
  background: -webkit-linear-gradient(top, #373737, #004080);
  background: -ms-linear-gradient(top, #373737, #004080);
  background: -o-linear-gradient(top, #373737, #004080);
  background: linear-gradient(to top, #373737, #004080);
}
